<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <center><title>TV Price Prediction</title></center>
  
</head>

<body> 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(161, 6, 6);" >
       <center><a class="navbar-brand" href="#"> &nbsp &nbsp &nbsp TV Price Prediction</a></center> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a  class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            
        </div>
      </nav>
      
  <section class="text-black-600 body-font">
      <form action='/predict' method='POST'>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video class="img-fluid" autoplay loop muted>
              <source src="static/sam.mp4" type="video/mp4" />
            </video>
             
          </div>
        </div>

        <div class="container px-5 py-24 mx-auto">
         
        <div>
        </div>

      <main class="border border-primary " style="background-color:rgb(161, 6, 6);">
        <section class="presentation">
          <div class="introduction">
            <div class="w3-container">
             
              <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                  <div class="w3-container">
                    <span onclick="document.getElementById('id01').style.display='none' "class = "w3-button w3-display-topright">&times;</span>
                    <main>
                      <section class="text-white-600 body-font">
                        <div class="container px-5 py-24 mx-auto">
                          <div class="flex flex-col text-center w-full mb-20">
                            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 " style="color:white;">TV Price Prediction</h1>
                            <br><br>
                            <h2 style="color: rgb(255, 255, 255);" class="fas fa-star"><b>{{prediction_text}}</b></h2>
                          </div>
                          <div>
                          </div>
                          <form style ="background-color: teal;" action='predict' method='POST' , action="{{url_for('home')}}">
                    
                            <div class="mb-3">
                              <label class="form-label" for="brand" style="color:white;">Brand</label><br>
                              <select class="form-control" name="brand" id="brand" placeholder="Select Brand">
                      
                                  <option value="Samsung">Samsung</option>
                                  <option value="LG">LG</option>
                                  <option value="SONY">SONY</option>
                                  <option value="TCL">TCL</option>
                                  <option value="Panasonic">Panasonic</option>
                                  <option value="Micromax">Micromax</option>
                                  <option value="Vu">Vu</option>
                                  <option value="Lloyd">Lloyd</option>
                                  <option value="Mi">Mi</option>
                                  <option value="iFFALCON by TCl">iFFALCON by TCL</option>
                                  <option value="Thomsan">Thomsan</option>
                                  <option value="Hair">Hair</option>
                                  <option value="Sansui">Sansui</option>
                                  <option value="PHILIPS">PHILIPS</option>
                                  <option value="Blaupunkt">Blaupunkt</option>
                                  <option value="Kodak">Kodak</option>
                                  <option value="Motorola">Motorola</option>
                                  <option value="IMPEX">IMPEX</option>
                                  <option value="TOSHIBA">TOSHIBA</option>
                                  <option value="Croma">Croma</option>
                                  <option value="Candes">Candes</option>
                                  <option value="Onida">Onida</option>             
                                  <option value="Power Guard">Power Guard</option>         
                                  <option value="Nokia">Nokia</option>          
                                  <option value="T-Series">T-Series</option>    
                                  <option value="Hisense">Hisense</option>            
                                  <option value="CloudWalker">CloudWalker</option>          
                                  <option value="OnePlus">OnePlus</option>            
                                  <option value="RGL">RGL</option>                   
                                  <option value="Acer">Acer</option>                  
                                  <option value="Coocaa">Coocaa</option>                
                                  <option value="AISEN">AISEN</option>                 
                                  <option value="MarQ by Flipkart">MarQ by Flipkart</option>      
                                  <option value="Sharp">Sharp</option>                 
                                  <option value="Onix">Onix</option>                  
                                  <option value="G-TEN">G-TEN</option>                 
                                  <option value="realme">realme</option>                
                                  <option value="Adsun">Adsun</option>                 
                                  <option value="Intex">Intex</option>                 
                                  <option value="Samsung">Samsung</option>               
                                  <option value="JVC">JVC</option>                   
                                  <option value="Dyanora">Dyanora</option>               
                                  <option value="HUIDI">HUIDI</option>                 
                                  <option value="Akai">Akai</option>                  
                                  <option value="LumX">LumX</option>                  
                                  <option value="Weston">Weston</option>                
                                  <option value="Compaq">Compaq</option>                
                                  <option value="VG">VG</option>                    
                                  <option value="MURPHY">MURPHY</option>                
                                  <option value="BPL">BPL</option>                   
                                  <option value="Dektron">Dektron</option>               
                                  <option value="KRISONS">KRISONS</option>               
                                  <option value="DETEL">DETEL</option>                 
                                  <option value="Oxygen">Oxygen</option>                
                                  <option value="Infinix">Infinix</option>               
                                  <option value="Sanyo">Sanyo</option>                 
                                  <option value="Sun King">Sun King</option>
                                  <option value="Skyworth">Skyworth</option>
                                  <option value="Maser">Maser</option>
                              </select>
                              <br>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="typename" style="color:white;">Resolution</label><br>
                                <select class="form-control" name="resolution" id="resolution">
                                    <option value="Ultra HD LED">Ultra HD LED</option>
                                    <option value="QLED Ultra HD">QLED Ultra HD</option>
                                    <option value="HD LED">HD LED</option>
                                    <option value="Full HD LED">Full HD LED</option>
                                    <option value="HD Plasma">HD Plasma</option>
                                    </select>
                                <br>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="size" style="color:white;">Size</label><br>
                              <select class="form-control" name="size" id="size">
                                  <option value=55>55</option>
                                  <option value=32>32</option>
                                  <option value=43>43</option>
                                  <option value=65>65</option>
                                  <option value=40>40</option>
                                  <option value=50>50</option>
                                  <option value=70>70</option>
                                  <option value=24>24</option>
                                  <option value=42>42</option>
                                  <option value=58>58</option>
                                  <option value=49>49</option>
                                  <option value=39>39</option>
                                  <option value=48>48</option>
                                  <option value=75>75</option>
                                  <option value=85>85</option>
                                  <option value=31>31</option>
                                  <option value=28>28</option>
                                  <option value=20>20</option>
                                  <option value=22>22</option>
                                  <option value=21>21</option>
                                  <option value=52>52</option>
                                  <option value=46>46</option>
                                  <option value=60>60</option>
                                  <option value=47>47</option>
                                  <option value=19>19</option>
                                  <option value=38>38</option>
                                  <option value=17>17</option>
                                  
                              </select>
                              <br>  
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="os" style="color:white;">Operating System</label><br>
                              <select class="form-control" name="os" id="os">
                                  <option value="VIDAA">VIDAA</option>
                                  <option value="Android">Android</option>
                                  <option value="Linux">Linux</option>
                                  <option value="Tizan">Tizan</option>
                                  <option value="WebOS">WebOS</option>
                                  <option value="HomeOS">HomeOS</option>
                                  <option value="ireTV OS">FireTV OS</option>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="rating" style="color:white;">Rating</label><br>
                              <input class="form-control" name="rating" id = 'rating' type="text" placeholder="1.00" step="0.01" min="1" max="5">
                            </div>
                    
                    
                    
                            <!-- <input type="submit", value="Predict"> -->
                           <center> <button type="submit" class="btn btn-success btn-rounded">Predict</button></center>
                            <!-- <button type="submit" class="btn btn-primary">Predict</button> -->
                          </form>
                    
                    
                        </div>
                      </section>
                    </main>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>  


        <div class="carousel-inner py-4">
          <!-- Single item -->
          <div class="carousel-item active">
            

      <div class="border border-secondary">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black-300"><center><b>Television Brands
        </b></center></h1>
        <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true" >
            <div class="row py-3 shadow-5">
              <div class="col-12 mb-1">
                <div class="lightbox">
                    <form>
                      <!-- <h1>Types of iPhone</h1> -->
                  <img
                    src="/static/b.png"
                    alt="Gallery image 1"
                    class="ecommerce-gallery-main-img active w-100"
                  />
                </form>
                </div>
              </div>
             
            </div>
          </div>
        </div>
<br>
        <div class="ecommerce-gallery" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
          <div class="row py-3 shadow-5">
            <div class="col-12 mb-1">
              <div class="lightbox">
                  <form>
                    <p><center><b>Meet The Team</b></center></p><br>
               
                /> -->
              </form>
              </div>
            </div>
            <div class="col-3 mt-1">
              <img
                src="/static/p1.png"
                data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
                alt="Gallery image 1"
                class="active w-100"
              /><center>
              <p>Pema Lhamo</p>
              <p>Developer</p></center>
            </div>
            <div class="col-3 mt-1">
              <img
                src="/static/p2.png"
                data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
                alt="Gallery image 2"
                class="w-100"
              /><center>
              <p>Sonam Deki</p>
              <p>Developer</p></center>
            </div>
            <div class="col-3 mt-1">
              <img
                src="/static/p3.png"
                data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
                alt="Gallery image 3"
                class="w-100"
              /><center>
              <p>Sujata Rai</p>
              <p>Developer</p></center>
            </div>
            <div class="col-3 mt-1">
              <img
                src="/static/p4.png"
                data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
                alt="Gallery image 4"
                class="w-100"
              /><center>
              <p>Hang Subba</p>
              <p>Developer</p></center>
            </div>
          </div>
        </div>
     
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: rgb(161, 6, 6);"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              TV Price Prediction
            </h6>
            <p>
              Here user can prediction the price for the different tv Brands.
              Accuracy is almost near to or equal to the actual price for
              unkown data.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
           
            <p>
              <a class="text-white">Samsung</a>
            </p>
            <p>
              <a class="text-white">SONY</a>
            </p>
            <p>
              <a class="text-white">Croma</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> GCIT </p>
            <p><i class="fas fa-envelope mr-3"></i> gcit@rub.edu.bt</p>
            <p><i class="fas fa-phone mr-3"></i> + 0123456788</p>
            <p><i class="fas fa-print mr-3"></i> + 12334574</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1" 
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>

            <!-- Linkedin -->
           
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >Television.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
</body>
<script>
  let slideIndex = 0;
  showSlides();
  
  function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
  </script>
</html>